<!DOCTYPE html>
<html ng-app="versionHelper">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src='/javascripts/jquery.js'></script>
    <script src='/javascripts/angular.js'></script>
    <script src='/javascripts/bootstrap.js'></script>
    <script src='/app/version.controller.js'></script>
    <script src='/javascripts/main.js'></script>
</head>
<body class="container" ng-controller="versionController">
<h1><%= title %></h1>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Application</th>
        <th>DevLot1</th>
        <th>DevLot2</th>
        <th>DR1</th>
        <th>DR2</th>
        <th>DR3</th>
        <th>DR4</th>
        <th>DR5</th>
        <th>DR6</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(key, value) in dataTable" ng-if="key !== 'MPD' && key !== 'Etoil'">
        <th>{{key}}</th>
        <td>{{value.DevLot1}}</td>
        <td>{{value.DevLot2}}</td>
        <td>{{value.DR1}}</td>
        <td>{{value.DR2}}</td>
        <td>{{value.DR3}}</td>
        <td>{{value.DR4}}</td>
        <td>{{value.DR5}}</td>
        <td>{{value.DR6}}</td>
        <td></td>
    </tr>
    <tr>
        <th>MPD</th>
        <td ng-repeat="mpd in dataTable.MPD">
            <label ng-if="mpd.url" ng-show="!mpdEdit" id="mpdPlateformLabel{{$index}}" for="mpdPlateformSelect{{$index}}">{{mpd.url}}</label>
            <select ng-if="mpd.url" ng-show="mpdEdit" id="mpdPlateformSelect{{$index}}" ng-model="mpd.url">
                <option ng-repeat="mpdPlateform in mpdPlateforms" value="{{mpdPlateform}}" ng-selected="mpd.url === mpdPlateform">
                    {{mpdPlateform}}
                </option>
            </select>

            <p ng-if="mpd.url && !mpd.version.isDifferent">
                version : {{mpd.version}}
            </p>
        </td>
        <td>
            <button ng-show="!mpdEdit" ng-click="mpdEdit = !mpdEdit" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button ng-show="mpdEdit" ng-click="mpdEdit = !mpdEdit" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button ng-show="mpdEdit" ng-click="mpdEdit = !mpdEdit" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
    </tr>
    <tr>
        <th>Etoil</th>
        <td ng-repeat="etoil in dataTable.Etoil">
            <p ng-if="etoil.isDifferent">Attention !!!</p>

            <p ng-if="!etoil.isDifferent">{{etoil}}</p>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <th>Date de déploiement</th>
        <td ng-repeat="deploy in deployments">
            <label ng-show="!deployDateEdit" id="deployDateLabel{{$index}}" for="deployDateInput{{$index}}">{{deploy.date}}</label>
            <input ng-show="deployDateEdit" id="deployDateInput{{$index}}" type="text" ng-model="deploy.date" size="15">
        </td>
        <td style="text-align: center">
            <button ng-show="!deployDateEdit" type="button" ng-click="deployDateEdit = !deployDateEdit" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button ng-show="deployDateEdit" type="button" ng-click="deployDateEdit = !deployDateEdit" class="btn btn-default">
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
        </td>
    </tr>
    <tr>
        <th>Lot</th>
        <td ng-repeat="deploy in deployments">
            <label ng-show="!lotEdit" id="lotLabel{{$index}}" for="lotInput{{$index}}">{{deploy.lot}}</label>
            <input ng-show="lotEdit" id="lotInput{{$index}}" type="text" ng-model="deploy.lot" size="15">
        </td>
        <td style="text-align: center">
            <button ng-show="!lotEdit" type="button" ng-click="lotEdit = !lotEdit" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button ng-show="lotEdit" type="button" ng-click="lotEdit = !lotEdit" class="btn btn-default">
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>

<button type="button" class="btn btn-default" id="refreshBtn" ng-click="refreshData()">
    <span class="glyphicon glyphicon-refresh"> Rafraîchir</span>
</button>
<div>Dernier export des données : {{refreshDate | date:"dd/MM/yyyy 'à' HH:mm"}}</div>

</body>
</html>