body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

tr td:last-child {
  border-top: hidden!important;
  border-right: hidden!important;
  border-bottom: hidden!important;
  background-color: white;
}

tr th:last-child {
  border-top: hidden!important;
  border-right: hidden!important;
  border-bottom: hidden!important;
  background-color: white;
}

tr td:first-child {
  vertical-align: middle!important;
}

tr th:first-child {
  vertical-align: middle!important;
}

input [disabled] {
  border: none;
  background-color: inherit;
}

.label-custom{
  font-weight: normal;
}

tr td, tr th {
  text-align: center;
}

tr th:first-child {
  width: 105px;
  text-align: initial;
}
